/target/
.settings
.classpath
.project
/.idea/
*.iml
dependency-reduced-pom.xml
.floo*
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# IntelliJ
.idea

out